<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link rel="stylesheet" href="/css/critical.css">
</head>
<body>

<nav>
	<a href="/">
		<img src="../../images/logo.svg" onerror="this.onerror=null, this.src='../../images/logo.png'"/>
	</a>
</nav>