<%- include ./part/header.ejs %>
	<container>
		<h1>Search for any movie</h1>

		<form action="/" method="post">
			<input type="text" name="val" placeholder="Search for any movie.." autofocus />
			<input type="submit" value="Zoek" />
		</form>
	</container>

<%- include ./part/footer.ejs %>