<%- include ./part/header.ejs %>

	<container>
		<h1>Search for any movie</h1>

		<form action="/" method="post">
			<input type="text" name="val" placeholder="Search for any movie.."/>
			<input type="submit" value="Zoek" />
		</form>
	</container>

	<script src="/js/app.js"></script>

<%- include ./part/footer.ejs %>