<%- include ./part/header.ejs %>

	<h1>this is teh homepage</h1>

   	<ul>
	    <% giphy.Objects.forEach(function(gif) { %>
	       	<p><%= gif.Adres %></p>
	    <% }); %>
	</ul>

<%- include ./part/footer.ejs %>