<%- include ./part/header.ejs %>
	
	<h1>Waar wil je wonen?</h1>

	<form action="/" method="post">
		<input type="text" name="city" placeholder="Waar wil je wonen?" />
		<input type="submit" value="Zoek" />
	</form>


<%- include ./part/footer.ejs %>