<%- include ./part/header.ejs %>

<h1>Zoekresultaten in x</h1>

<% movies.results.forEach((movie) => { %>
	
	<article>
		<img src="http://image.tmdb.org/t/p/w185/<%= movie.poster_path %>" />
		<a href=""><%= movie.original_title %></a>
	</article>

<% }); %>

<%- include ./part/footer.ejs %>
