<%- include ./part/header.ejs %>

<h1>this is teh zoom</h1>

 	<ul>
	    <% houses.Objects.forEach(function(house) { %>
	       	<p><%= house.Adres %></p>
	    <% }); %>
	</ul>

<%- include ./part/footer.ejs %>
