<%- include ./part/header.ejs %>

<h1>Zoekresultaten in x</h1>

<% houses.Objects.forEach(function(house) { %>
	
	<article>
		<img src="<%= house.FotoLarge %>"></img>
		<p><%= house.Adres %></p>
	</article>




<% }); %>

<%- include ./part/footer.ejs %>
